.wrapper__inner
    section.presentation
        h2.title_content
            | About Stock photography
div(data-speed="7", data-type="background").parallax-container
    .wrapper__inner
        .block-text-parallax
            h3.title-parallax
                | What is Stock Photography?
            .text-parallax
                | Supply of photographs, which are often licensed for specific uses. It is used to fulfill the needs of creative assignments instead of hiring a photographer, often for a lower cost. Today, stock images can be presented in searchable online databases. They can be purchased and delivered online. 
            a(href="#").pink-button.load-more
                | KNOW MORE