section.presentation
    h2.title_content1
        | Over 40 Million Stock Photos, Vectors, Videos, and Music Tracks
    .text_presentation
        | Search for images anywhere using our award-winning iPad®, iPhone®, and Android® apps. Functional enough to use alone, beautiful enough to show off to clients.
    h2.title_content
        | Recently uploaded
    ul.list_presentation_img
        li.item_presentation_img.presentation_img_row-1
            a(href="#").link_presentation_img.small-image
                picture
                    source(srcset="images/last_photo/last_photo1.jpg", media="(min-width: 480px)")
                    img(srcset="images/last_photo/last_photo1_min.jpg")
                .block_description-photo
                    .title_description-photo
                        | OLD MAN FROM INDIA
                    .author-photo
                        |by Frank Tucker
            a(href="#").link_presentation_img.small-image
                img(src="images/last_photo/last_photo2.jpg" alt="last_photo").presentation_img
                .block_description-photo
                    .title_description-photo
                        | OLD MAN FROM INDIA
                    .author-photo
                        |by Frank Tucker
        li.item_presentation_img.presentation_img_row-2
            a(href="#").link_presentation_img.large-image
                picture
                    source(srcset="images/last_photo/last_photo3.jpg", media="(min-width: 480px)")
                    img(srcset="images/last_photo/last_photo3_min.jpg")
                .block_description-photo
                    .title_description-photo
                        | OLD MAN FROM INDIA
                    .author-photo
                        |by Frank Tucker
        li.item_presentation_img.presentation_img_row-3
            a(href="#").link_presentation_img.large-image
                picture
                    source(srcset="images/last_photo/last_photo4.jpg", media="(min-width: 701px)")
                    source(srcset="images/last_photo/last_photo4_med.jpg", media="(min-width: 480px)")
                    img(srcset="images/last_photo/last_photo4_min.jpg")
                .block_description-photo
                    .title_description-photo
                        | OLD MAN FROM INDIA
                    .author-photo
                        |by Frank Tucker
        li.item_presentation_img.presentation_img_row-4
            a(href="#").link_presentation_img.small-image
                picture
                    source(srcset="images/last_photo/last_photo5.jpg", media="(min-width: 701px)")
                    img(srcset="images/last_photo/last_photo5_min.jpg")
                .block_description-photo
                    .title_description-photo
                        | OLD MAN FROM INDIA
                    .author-photo
                        |by Frank Tucker
            a(href="#").link_presentation_img.small-image
                picture
                    source(srcset="images/last_photo/last_photo6.jpg", media="(min-width: 700px)")
                    source(srcset="images/last_photo/last_photo6_med.jpg", media="(min-width: 480px)")
                    img(srcset="images/last_photo/last_photo6_min.jpg")
                .block_description-photo
                    .title_description-photo
                        | OLD MAN FROM INDIA
                    .author-photo
                        |by Frank Tucker
    a(href="#").pink-button.load-more
        | LOAD MORE