section
    h2.title_content
        | Hear what our customers are saying
    .container-reviews
        .block-reviews
            .reviews
                | " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula consequat velit eget iaculis. ”
            .author-reviews
                | Jennifer R. Rhoades, CEO, Bubblesphere
            .container-avatar
                img(src="images/ava1.png" alt="ava").ava
        .block-reviews
            .reviews
                | " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula consequat velit eget iaculis. ”
            .author-reviews
                | Matthew J. Sears, Founder of Feedclub
            .container-avatar
                img(src="images/ava2.png" alt="ava").ava