section
    h2.title_content
        | Our sponsors
    .container-slider
        ul.list-slider
            li.item-slider.item-slider1
            li.item-slider.item-slider2
            li.item-slider.item-slider3
            li.item-slider.item-slider4
            li.item-slider.item-slider5
            li.item-slider.item-slider1
            li.item-slider.item-slider2
            li.item-slider.item-slider3
            li.item-slider.item-slider4
            li.item-slider.item-slider5
        .arrow.arrow-left
        .arrow.arrow-right
        
        
