section
    h2.title_content
        | Our sponsors
    .container-slider
        .owl-carousel
            .item-slider.item-slider1
            .item-slider.item-slider2
            .item-slider.item-slider3
            .item-slider.item-slider4
            .item-slider.item-slider5
            .item-slider.item-slider1
            .item-slider.item-slider2
            .item-slider.item-slider3
            .item-slider.item-slider4
            .item-slider.item-slider5
            .item-slider.item-slider1
            .item-slider.item-slider2
            .item-slider.item-slider3
            .item-slider.item-slider4
            .item-slider.item-slider5
            
        
        
