section
    h2.title_content
        | Meet our team 
    .contaioner-team
        .block-team
            .container-photo-team
                img(src="images/photo-team1.jpg", alt="photo-team").photo-team
            .name Patricia Wright
            .position Lead Developer
            .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis.
            ul.social-team-list
                - var social = ['tw', 'fb', 'dr', 'glow']
                each item in social
                    li.social-team-item
                        a(href="#" class="social-team-link-#{item}").social-team-link= item
        .block-team
            .container-photo-team
                img(src="images/photo-team2.jpg", alt="photo-team").photo-team
            .name James C. Cotter
            .position CEO
            .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis.
            ul.social-team-list
                - var social = ['tw', 'fb', 'dr', 'glow']
                each item in social
                    li.social-team-item
                        a(href="#" class="social-team-link-#{item}").social-team-link= item
        .block-team
            .container-photo-team
                img(src="images/photo-team3.jpg", alt="photo-team").photo-team
            .name Sarah Cole
            .position Web Designer
            .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis.
            ul.social-team-list
                - var social = ['tw', 'fb', 'dr', 'glow']
                each item in social
                    li.social-team-item
                        a(href="#" class="social-team-link-#{item}").social-team-link= item
