

.header{
    background: url(../images/header-bg.png) no-repeat center;
    height: 785px;
    margin: 0 0 40px 0;
}

.header-top-block{
    background: #fff;
    padding-top: 65px;
    overflow: hidden;
}

.contact{
    float: right;
    width: 54.5%;
    margin:0 4.5% 25px -3.9%;
    @extend %letter-spacing;
}

.contact_item{
    @extend %inline-block;
    margin-left: 3.9%;
}

.contact_title{
    font: 14px 'open_sanslight';
    padding: 0 0 0 19px;
}

.contact_info{
   font: 13px 'open_sansregular'; 
}

.container-navigation{
    background: #232020;
    @extend %clearfix;
}

.navigation{
    @extend %letter-spacing;
    width: 80%;
    float: left;
}

.navigation_item{
    @extend %inline-block;
    margin: 0 1.7%;
}

.navigation_link{
    display: block;
    text-transform: uppercase;
    font: 13px 'open_sanssemibold';
    color: #fff;
    padding: 17px 10%;
}

.navigation__link_active{
    border-bottom: 4px solid #f17398; 
}

.social-header{
    float: right;
    margin: 0 2.7% 0 0;
}

.social-header_item{
    @extend %inline-block;
}

.socials_link{
    display: block;
    overflow: hidden;
    width: 22px;
    height: 17px;
    @extend %text-indent;
    padding: 18px 0;
    
}

.social_link_fb {
    background: url(../images/social.png) no-repeat 0 center;
}

.social_link_in{
    background: url(../images/social.png) no-repeat -21px center;
}

.social_link_be{
    background: url(../images/social.png) no-repeat -54px center;
}

.header-text-section{
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    width: 46.3%;
    padding: 20px 2% 27px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);

}

.title_header{
    font: 22px 'open_sanssemibold';
    color: #2f343a;
    margin: 0 0 15px;
}

.text_header{
    font: 15px/25px 'open_sanslight';
    color: #797f7f;
    max-height: 50px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}



.know-more{
    display: block;
    position: absolute;
    left: 0;
    bottom: -36px;
    width: 118px;
}

.container-search{
    position: absolute;
    left: 0;
    bottom: 0;
    @extend %letter-spacing;
}

.search_field{
    color: #fff;
    background: #232020;
    @extend %inline-block;
    padding:0 30px;
    font: 17px 'open_sanssemibold';
    height: 55px;
    min-width: 200px;
}

input[type="search"]::-webkit-input-placeholder {
    color: #fff;
    font: 17px 'open_sansbold';
}

.search_submit{
    @extend %inline-block;
    background: #121111 url(../images/search.png) no-repeat center;
    width: 55px;
    height: 55px;
}