.block-parallax{
    position: relative;
}

.parallax-container{
    margin: 0 0 100px 0;
    background-size: cover;
}

.imageHolder{
    height: 500px;
}

.block-text-parallax{
    width: 91%;
    max-width: 1000px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .load-more{
        float: none;
        margin: 0 auto;
    }
}

.title-parallax{
    font: 50px 'open_sansextrabold';
    @include media("max-width: 960px") {
        font-size: 40px;
    }
    @include media("max-width: 700px") {
        font-size: 35px;
    }
    @include media("max-width: 480px") {
        font-size: 25px;
        margin: 0 0 10px;
    }
}

.text-parallax{
    font: 18px/35px 'open_sanslight';
    margin: 0 0 60px 0;
    @include media("max-width: 700px") {
        font: 16px/30px 'open_sanslight';
        margin: 0 0 40px 0;
    }
    @include media("max-width: 480px") {
        line-height: 25px; 
    }
}