
.parallax-container{
    margin: 0 0 100px 0;
    background-size: cover;
}

.imageHolder{
    height: 500px;
    .wrapper__inner{
        display: table;
    }  
}

.block-text-parallax{
    color: #fff;
    text-align: center;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    .load-more{
        float: none;
        margin: 0 auto;
    }
}

.title-parallax{
    font: 50px 'open_sansextrabold';
    margin: 0 0 50px 0
}

.text-parallax{
    font: 18px/35px 'open_sanslight';
    margin: 0 0 60px 0;
}