.contaioner-team{
    @extend %letter-spacing;
    margin: 0 0 0 -2.7%;
    @include media("max-width: 480px") {
        margin: 0;
    }
}

.block-team{
    @extend %inline-block;
    width: 30.6%;
    margin: 0 0 150px 2.7%;
    overflow: hidden;
    @include media("max-width: 700px") {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 100px;
    }
}

.container-photo-team{
    overflow: hidden;
    padding: 62% 0 0 0;
    border: 1px solid #f4f4f4;
    position: relative;
    box-sizing: border-box;
    margin: 0 0 13px 0;
    @include media("max-width: 700px") {
        width: 49%;
        padding: 32% 0 0 0;
        margin: 0 auto 13px auto;
    }
    @include media("max-width: 480px") {
        width: 78%;
        padding: 50% 0 0 0;
    }
}

.photo-team{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name{
    font: 30px 'open_sanssemibold';
    color: #232020;
    word-wrap: break-word;
}

.position{
    font: 18px 'open_sansitalic';
    color: #787a7d;
    word-wrap: break-word;
    margin: 0 0 18px;
}

.description{
    font: 15px 'open_sanslight';
    color: #232020;
    word-wrap: break-word;
    margin: 0 0 50px;
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    @include media("max-width: 700px") {
        width: 86%;
        margin: 0 auto 50px auto;
    }
    
}

.social-team-list{
    @extend %letter-spacing;
    margin: 0 0 0 -4.4%;
    @include media("max-width: 960px") {
        margin: 0 0 0 -1%;
    }
}

.social-team-item{
    @extend %inline-block;
    margin: 0 0 0 4.4%;
    @include media("max-width: 960px") {
        margin: 0 0 0 1%;
    }
}

.social-team-link{
    display: block;
    width: 46px;
    height: 46px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    @extend %text-indent;
    overflow: hidden;
}

.social-team-link-tw{
    background: url(../images/social-team.png) no-repeat 0 0;
}

.social-team-link-fb{
    background: url(../images/social-team.png) no-repeat -60px 0;
}

.social-team-link-dr{
    background: url(../images/social-team.png) no-repeat -120px 0;
}

.social-team-link-glow{
    background: url(../images/social-team.png) no-repeat -180px 0;
}


.container-map{
    width: 100%;
    height: 448px;
    background-color: #CCC;
    border-top: 7px solid #efefef;
    margin: 0 0 88px 0;
    @include media("max-width: 960px") {
        height: 350px;
    }
}