.contact, .navigation, .container-search, .filter-container, .label_wrapp, .list_presentation_img, .container-reviews {
  letter-spacing: -0.3em;
}

.contact_item, .navigation_item, .social-header_item, .search_field, .search_submit, .filter_block, .label_wrapp label, .item_presentation_img, .block-reviews {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

.socials_link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.title_content1, .text_presentation, .title_content {
  text-align: center;
}

.container-navigation:before, .load-more:before, .container-navigation:after, .load-more:after {
  content: "";
  display: table;
}
.container-navigation:after, .load-more:after {
  clear: both;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

html, body {
  height: 1%;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.wrapper__inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.pink-button {
  background: #f17398;
  border-bottom: 3px solid #db577e;
  color: #fff;
  font: 12px 'open_sansbold';
  text-align: center;
  padding: 5px 0;
  display: block;
}

.header {
  background: url(../images/header-bg.png) no-repeat center;
  height: 813px;
  margin: 0 0 40px 0;
}

.header-top-block {
  background: #fff;
  padding-top: 93px;
  overflow: hidden;
}

.contact {
  float: right;
  width: 54.5%;
  margin: 0 4.5% 25px -3.9%;
}

.contact_item {
  margin-left: 3.9%;
}

.contact_title {
  font: 14px 'open_sanslight';
  padding: 0 0 0 19px;
}

.contact_info {
  font: 13px 'open_sansregular';
}

.container-navigation {
  background: #232020;
}

.navigation {
  width: 80%;
  float: left;
}

.navigation_item {
  margin: 0 1.7%;
}

.navigation_link {
  display: block;
  text-transform: uppercase;
  font: 13px 'open_sanssemibold';
  color: #fff;
  padding: 17px 10%;
}

.navigation__link_active {
  border-bottom: 4px solid #f17398;
}

.social-header {
  float: right;
  margin: 0 2.7% 0 0;
}

.socials_link {
  display: block;
  overflow: hidden;
  width: 22px;
  height: 17px;
  padding: 18px 0;
}

.social_link_fb {
  background: url(../images/social.png) no-repeat 0 center;
}

.social_link_in {
  background: url(../images/social.png) no-repeat -21px center;
}

.social_link_be {
  background: url(../images/social.png) no-repeat -54px center;
}

.header-text-section {
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  width: 46.3%;
  padding: 20px 2% 27px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.title_header {
  font: 22px 'open_sanssemibold';
  color: #2f343a;
  margin: 0 0 15px;
}

.text_header {
  font: 15px/25px 'open_sanslight';
  color: #797f7f;
  max-height: 50px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.know-more {
  display: block;
  position: absolute;
  left: 0;
  bottom: -36px;
  width: 118px;
}

.container-search {
  position: absolute;
  left: 0;
  bottom: 0;
}

.search_field {
  color: #fff;
  background: #232020;
  padding: 0 30px;
  font: 17px 'open_sanssemibold';
  height: 55px;
  min-width: 200px;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
  font: 17px 'open_sansbold';
}

.search_submit {
  background: #121111 url(../images/search.png) no-repeat center;
  width: 55px;
  height: 55px;
}

.footer {
  min-height: 100px;
  width: 100%;
  margin-top: -100px;
}

.filter-container {
  margin: 0 0 87px 0;
  width: 100%;
  overflow: hidden;
}

.filter_block {
  margin: 0 0 0 3%;
  width: 22%;
}
.filter_block span:focus {
  outline: none;
}

.filter_label {
  margin: 0 0 10px 0;
  font: 13px 'open_sanssemibold';
  color: #2f343a;
  margin-bottom: 10px;
  display: block;
}

.filter_select {
  width: 100%;
}

.filter__check {
  display: none;
}

.label_wrapp {
  border: 1px solid #b3b3b3;
}

.label_wrapp label {
  border-left: 1px solid #b3b3b3;
  box-sizing: border-box;
  width: 50%;
}
.label_wrapp label:first-child {
  border: none;
}

label .filter__check + .radio {
  display: block;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #b3b3b3;
}
label .filter__check:checked + .radio {
  background: #2f343a;
  color: #fff;
}

.start-search {
  margin: 28px 0 0 0;
  width: 100%;
}

.select2.select2-container.select2-container--default {
  margin: 0 0 17px 0;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 30px;
  font: 13px 'open_sansregular';
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: #f1f2f2;
  border-left: 1px solid #b3b3b3;
  width: 28px;
  height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background: url(../images/select.png) no-repeat center;
  border: none;
  height: 4px;
  width: 6px;
}

.select2-dropdown {
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #f17398;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #b3b3b3;
}

.presentation {
  color: #2f343a;
  overflow: hidden;
}

.title_content1 {
  font: 25px 'open_sanslight';
  color: #2f343a;
  margin: 0 0 37px 0;
}

.text_presentation {
  font: 18px/30px 'open_sanslight';
  margin: 0 0 100px;
}

.title_content {
  font: 26px/26px 'open_sanslight';
  color: #232020;
  margin: 0 0 55px;
}

.list_presentation_img {
  margin: 0 0 10px -1%;
}

.item_presentation_img {
  margin: 0 0 0 1%;
  width: auto;
  overflow: hidden;
}

.presentation_img_row-1 {
  width: 28.2%;
}

.presentation_img_row-2 {
  width: 38.5%;
}

.presentation_img_row-3 {
  width: 10.6%;
}

.presentation_img_row-4 {
  width: 18.7%;
}

.link_presentation_img {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #2f343a;
}

.small-image {
  padding-top: 190px;
  margin: 0 0 10px;
}

.large-image {
  padding-top: 390px;
}

.presentation_img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.block_description-photo {
  background: rgba(35, 32, 32, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 90%;
  padding: 8px 5%;
  color: #fff;
  word-wrap: break-word;
  display: none;
  overflow: hidden;
}

.title_description-photo {
  font: 15px 'open_sanslight';
}

.author-photo {
  font: 13px "open_sansitalic";
}

.load-more {
  width: 11.8%;
  float: right;
  margin: 0 0 105px 0;
}

.parallax-container {
  background: rgba(35, 32, 32, 0.6) url(../images/parallax.png) no-repeat center;
  height: 495px;
}

.parallax-container {
  margin: 0 0 100px 0;
}
.parallax-container .wrapper__inner {
  display: table;
}
.parallax-container .wrapper__inner .load-more {
  float: none;
  margin: 0 auto;
}

.block-text-parallax {
  color: #fff;
  text-align: center;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.title-parallax {
  font: 50px 'open_sansextrabold';
  margin: 0 0 50px 0;
}

.text-parallax {
  font: 18px/35px 'open_sanslight';
  margin: 0 0 60px 0;
}

.container-reviews {
  width: 100%;
  margin: 0 0 158px 0;
}

.block-reviews {
  width: 42%;
  padding: 25px 0 0 8%;
  background: url(../images/icon2.png) no-repeat left top;
}
.block-reviews:first-child {
  background: url(../images/icon1.png) no-repeat left top;
}

.reviews {
  font: 18px/30px 'open_sanslight';
  color: #adafb0;
  margin: 0 0 25px;
  word-wrap: break-word;
}

.author-reviews {
  font: 15px 'open_sansbold';
  color: #2f343a;
  float: left;
  width: 78%;
  padding: 35px 0 0 0;
}

.container-avatar {
  float: right;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.ava {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.container-slider {
  position: relative;
  height: 95px;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 5%;
}

.list-slider {
  overflow: hidden;
  width: 2000px;
  position: relative;
}

.arrow {
  width: 31px;
  height: 31px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
}

.item-slider {
  float: left;
  width: 180px;
  height: 95px;
}

.item-slider1 {
  background: url(../images/slider-item/sl-item1.png) no-repeat center;
}

.item-slider2 {
  background: url(../images/slider-item/sl-item2.png) no-repeat center;
}

.item-slider3 {
  background: url(../images/slider-item/sl-item3.png) no-repeat center;
}

.item-slider4 {
  background: url(../images/slider-item/sl-item4.png) no-repeat center;
}

.item-slider5 {
  background: url(../images/slider-item/sl-item5.png) no-repeat center;
}

.arrow-left {
  background: #9b9a9b url(../images/arrow.png) no-repeat center;
  left: 0;
}

.arrow-right {
  background: #9b9a9b url(../images/arrow.png) no-repeat center;
  transform: rotate(180deg);
  right: 0;
}
